.pricelist .pricelist-v3 .price-list table thead th {
  white-space: nowrap;
  padding: 1rem 1.5rem;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .pricelist .pricelist-v3 .price-list table thead th {
    padding: 1.75rem 1.5rem;
  }
}
.pricelist .pricelist-v3 .price-list table tbody tr {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--tw-color-secondary-foreground);
}
.pricelist .pricelist-v3 .price-list table tbody tr:last-child {
  border-style: none;
}
.pricelist .pricelist-v3 .price-list table tbody td {
  white-space: nowrap;
  padding: 1rem 1.5rem;
  text-align: left;
}
@media (min-width: 1024px) {
  .pricelist .pricelist-v3 .price-list table tbody td {
    padding: 1.25rem 1.5rem;
  }
}
.pricelist .pricelist-v3 .tabs-trigger[data-state="active"] .product-info-item {
  background-color: var(--tw-color-general);
  font-weight: 600;
  color: var(--tw-color-primary-foreground);
}
